
.root{
    -bg-color: #432E5E;
    -dark-background-color: #2B1B34; 
    -accent-color: #B83B5E;
    -transparent-color: rgba(135, 104, 159, 0.4);
    -red-color: #EF1010;
    -text-100: #FFFFFF;
    -text-200: #C7B8CC;
}

.background{
    -fx-background-color: -bg-color;
}
.dark-background{
    -fx-background-color: -dark-background-color;
}


.text-field {
    -fx-font-family: "Arial";
    -fx-font-size: 16px;
    -fx-text-fill: -text-100;
    -fx-background-color: transparent;
    
    -fx-border-color: transparent transparent -text-200 transparent;
    -fx-border-width: 2;
    -fx-border-style: hidden hidden solid hidden;
   
    -fx-padding: 0.1em 0em 0.3em 0em;
}

.text-field:focused{
    -fx-border-color: transparent transparent -accent-color transparent;
    -fx-transition: all 0.3s; 


}
 
.text{
    -fx-font-family: "Arial";
    -fx-text-fill: -text-100;
    -fx-font-size: 14px
}


.header{
    -fx-fill: -text-100;
    -fx-font-weight: Bold;
    -fx-font-family: "Arial";
    -fx-font-size: 32px;
}

.header2{
    -fx-fill: -text-100;
    -fx-font-weight: Bold;
    -fx-font-family: "Arial";
    -fx-font-size: 24px;
}

.transparent-background{
    -fx-background-color: -transparent-color;
}

.accent-color{
    -fx-background-color: -accent-color;
}

.cool-border{
    -fx-background-radius: 69px;
}

.action-btn{
    -fx-background-color: -transparent-color;
   -fx-background-radius: 69px;
}
.action-btn:hover{
   -fx-background-color: -accent-color;
}

.nav-btn{
    -fx-background-color: -dark-background-color;
    -fx-text-fill: -text-200;
    -fx-background-radius: 0;
    -fx-pref-height: 40.174;


}

.nav-btn:hover{
    -fx-text-fill: -text-100;
    -fx-font-weight: bold;

}

.selected-nav-btn{
    -fx-background-color: -accent-color;
    -fx-text-fill: -text-100;
    -fx-font-weight: bold;
    -fx-background-radius: 0;
    -fx-pref-height: 49.174;

}

.scroll-view{
    -fx-hbar-policy: never;
    -fx-vbar-policy: never;
    -fx-background: transparent;
    -fx-background-insets: 0;
}

