
.root{
    --bg-color: #432E5E;
    --dark-background-color: #2B1B34; 
    --accent-color: #B83B5E;
    --transparent-bg: rgba(135, 104, 159, 0.4);
    --red-color: #EF1010;
    --text-100: #FFFFFF;
    --text-200: #C7B8CC;
}